body{
     width: 100%;
     height: auto;
     background:url(../images/bg.jpg) repeat;
     font-size: 18px;
     font-family: "微軟正黑體","Microsoft JhengHei",Arial;
     box-sizing: border-box;
}
 a{
     color: #707070;
     display: block;
}
 #wrap{
     max-width: 1500px;
     margin: 0 auto;
}
 header{
     width: 100%;
     height: 185px;
     position:relative;
     padding: 30px 100px;
     box-sizing: border-box;
     z-index: 3;
     top:0;
}
 .header_active{
     position:fixed;
     top:0;
     left:0;
     height:85px;
     background: rgba(255, 255, 255, 0.8);
     padding: 0px 100px;
     transition: height 0.5s;
     z-index: 99999;
}
 .logo{
     height: auto;
     float: left;
}
 .logo_img{
     width: 125px;
     transition: width 0.5s;
}
 .logo_active{
     width: 85px;
}
 nav{
     height: auto;
     float: right;
     margin-top: 52px;
     transition: margin-top 0.5s;
}
 .nav_active{
     margin-top: 32px;
}
 nav li{
     float: left;
     padding-right: 55px;
}
 nav li:last-child{
     padding-right: 0px;
}
 #shownav{
     width: 35px;
     height: 33px;
     background:url(../images/btn.png) no-repeat;
     cursor: pointer;
     display: none;
}
 .area1{
     width: 100%;
     height: auto;
     background: url(../images/circlebg.png) center no-repeat;
     background-size: 100%;
}
 .area1_active{
     margin-top:185px;
}
 .photo{
     max-width: 1000px;
     width: 100%;
     height: auto;
     margin: 0 auto;
}
 .photo img{
     width: 100%;
     height: 100%;
}
 .phototext{
     width: 200px;
     height: 200px;
     position: absolute;
     top: 0;
     left: 50%;
     margin-left: -100px;
     padding-top: 825px;
     line-height: 40px;
     color: #707070;
     text-align: center;
     font-size: 20px;
}
 .area2{
     width: 100%;
     height: auto;
     position: relative;
     overflow:hidden;
    /*自動撐開高*/
     padding-top: 5%;
}
 .area3{
     width: 100%;
     height: auto;
     position: relative;
     overflow:hidden;
    /*自動撐開高*/
     padding-top: 5%;
     padding-bottom: 10%;
     background: url(../images/circlebg.png) center no-repeat;
     background-size: 100%;
}
 .title1,.title3{
     width: 100%;
     height: auto;
     max-width: 1500px;
}
.title3{
    margin: 0 auto;
    display: block;
}
.title2{
     width: 100%;
     height: auto;
     max-width: 1500px;
}
.title2-s,.title3-s{
     /*position: absolute;
     top: 0;
     left: 0;*/
     width: 100%;
     height: auto;
     display: none;
}

 .column2{
     width: 50%;
     height: auto;
     float: left;
}
 .column2 img{
     max-width: 500px;
     width: 100%;
     height: 100%;
     display: block;
     margin: 0 auto;
}
 .imgbase{
     width: 100%;
     height: 100%;
     display: block;
     margin: 0 auto;
}
}
 .textcontent{
     display: block;
    /*span一定要使用width才會有效果*/
     width: 55%;
     margin: 0 auto;
     color: #707070;
     line-height: 35px;
}
 footer{
     color: #707070;
     text-align: center;
     font-size: 14px;
}

.morebtn{
    width: 150px;
    height: 40px;
    float: right;
    margin: 2% 6% 0 0;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: block;
    transition: background 0.5s;
    border: #696969 double;
}
.morebtn:hover{
    background: #696969;
    transition: background 0.5s;
}
.morebtn a{
    color: #696969;
}

.morebtn a:hover{
    color: #fff;
}
.btntext{
    padding:11px 0;
}


/*RWD*/
 @media (max-width: 1024px) {
     header {
        padding: 6px 25px;
    	height: 100px;
    }
     .header_active{
         padding: 6px 25px;
         height: 97px;
         transition: height 0.5s;
    }
     .logo > a > img {
         width: 85px;
    }
     nav {
         max-height: 0px;
        /*一開始隱藏*/
         overflow: hidden;
        /*一開始隱藏*/
         transition: max-height 0.5s;
         position: absolute;
         z-index: 100;
         top: 65px;
         left: 0;
         right: 0;
         background-color:rgba(255, 255, 255, 0.8);
         margin-top: 32px;
    }
     nav li{
         float: none;
         border-bottom: 1px dashed #a2a2a2;
         padding-right: 0px;
    }
     nav li a{
         display: block;
         padding:1em;
         transition: all 0.3s;
    }
     nav li a:hover{
         background: #707070;
         color: #fff;
    }
     #shownav{
         display: block;
         float: right;
         margin-top: 30px;
    }
     .menu-show nav{
         max-height: 500px;
        /*點擊時打開隱藏高度*/
         box-shadow: 0px 0px 20px #cecece;
         margin-top: 32px;
    }
    /*以上是header要模組化*/
     .area1_active {
         margin-top: 102px;
    }
     .phototext{
         padding-top: 78%;
    }
    .textcontent{
        width:85%;
        padding-top: 2%;
    }
}
@media (max-width: 767px) {
    .column2{
        width: 100%;
        /*margin: 0 0 10% 0;*/
    }
    .title1{
        width: 150%;
    }
    .title2,.title3{
        display: none;
    }
    .title2-s{
        display: block;
        top: 50%;
        width: 150%;
    }
    .title3-s{
        display: block;
        width: 150%;
        margin-left: 4%;
    }

}

@media (max-width: 640px) {
    .phototext{
        padding-top: 85%;
        line-height: 30px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .phototext{
        padding-top: 87%;
        line-height: 26px;
        font-size: 16px;
    }
}
