@charset "UTF-8";
/* 統一樣式 */
.btn-notice, .attractions-title, .attractions-text p, .attractions-pic, .coupon, .gift-btn, .title, .title2, .section__block, .gift-content, .gift-text, .about, .flight {
  width: 100%;
  margin: 0 auto;
}

.gift-content, .gift-text, .about, .flight {
  max-width: 1000px;
}

.gift-text span, .gift-text, .about span, .flight span {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: 0.5px;
}

html, body {
  scroll-behavior: smooth;
  color: #1e1e1e;
}

/* 選單 */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  height: 70px;
}
@media (max-width: 960px) {
  nav {
    padding: 0 15px;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa {
  padding: 0 5px;
}

#menu-btn {
  display: none;
  cursor: pointer;
}
#menu-btn i {
  font-size: 1.375rem;
  line-height: 2rem;
  color: #6275ac;
}
@media (max-width: 960px) {
  #menu-btn {
    display: block;
  }
}

@media (max-width: 960px) {
  .menu {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
    top: 70px;
    z-index: 100;
    background: #fff;
    text-align: center;
  }
  .menu-show {
    max-height: 1000px;
  }
}
.menu ul li {
  float: left;
  display: flex;
  align-items: center;
}
.menu ul li:not(:last-child)::after {
  display: block;
  content: " ";
  height: 15px;
  width: 1px;
  background: #6275ac;
}
@media (max-width: 960px) {
  .menu ul li {
    float: none;
    display: block;
  }
  .menu ul li:not(:last-child)::after {
    height: 1px;
    width: 100%;
  }
}
.menu a {
  padding: 0px 18px;
  color: #6275ac;
  font-size: 1.25rem;
  line-height: 1.6rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 960px) {
  .menu a {
    line-height: 50px;
  }
}

main {
  overflow: hidden;
  display: block;
}

section {
  position: relative;
}

.section__block {
  max-width: 1300px;
  padding: 70px 10px 130px 10px;
}
@media (max-width: 480px) {
  .section__block {
    padding: 30px 3% 50px 3%;
  }
}

.banner__block {
  margin-top: 70px;
  position: relative;
}

@media (max-width: 640px) {
  .kv-banner {
    display: none;
  }
}
.kv-banner-m {
  display: none;
}
@media (max-width: 640px) {
  .kv-banner-m {
    display: block;
  }
}
.kv-pic {
  position: absolute;
  z-index: 2;
  overflow: hidden;
}
.kv-title {
  width: 35%;
  left: 30%;
  top: 38%;
}
@media (max-width: 640px) {
  .kv-title {
    width: 51%;
    left: 23.8%;
    top: 34.5%;
  }
}
.kv-witch {
  z-index: 3;
  width: 2%;
  right: 28%;
  top: 5%;
  animation: witch-fly 3s forwards cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
.kv-ship {
  width: 12%;
  opacity: 0;
  animation: ship-act forwards 1.5s;
}
@media (max-width: 640px) {
  .kv-ship {
    width: 27%;
    animation: ship-act-m forwards 1.5s;
  }
}
.kv-airplane {
  width: 13%;
  left: 30%;
  top: 7%;
  animation: airplane-act infinite 2s;
}
@media (max-width: 640px) {
  .kv-airplane {
    width: 28%;
    left: 36%;
    top: 9%;
    animation: airplane-act-m infinite 2s;
  }
}
.kv-train {
  width: 15%;
  opacity: 0;
  animation: train-act forwards 1.5s 4s;
}
@media (max-width: 640px) {
  .kv-train {
    width: 23%;
    animation: train-act-m forwards 1.5s 4s;
  }
}
.kv-palace {
  width: 16.5%;
  left: 26%;
  top: 64%;
}
@media (max-width: 640px) {
  .kv-palace {
    width: 23%;
    left: 24%;
    top: 54.5%;
  }
}
.kv-noodle {
  width: 11%;
  left: 44%;
  top: 67%;
}
@media (max-width: 640px) {
  .kv-noodle {
    width: 13%;
    top: 57%;
    right: 34.5%;
    left: auto;
  }
}
.kv-garden01 {
  width: 13%;
  right: 26%;
  top: 26%;
}
@media (max-width: 640px) {
  .kv-garden01 {
    width: 21%;
    right: 9%;
    top: 28.5%;
  }
}
.kv-naoshima {
  width: 10%;
  right: 41.2%;
  top: 8%;
}
@media (max-width: 640px) {
  .kv-naoshima {
    width: 11%;
    right: auto;
    top: 1.8%;
    left: 33.2%;
  }
}
.kv-shodoshima {
  width: 10.5%;
  right: 19.6%;
  top: 3%;
}
@media (max-width: 640px) {
  .kv-shodoshima {
    width: 17%;
    right: 24.2%;
    top: 1.5%;
  }
}
.kv-cat {
  width: 3%;
  right: 34.1%;
  top: 17.5%;
}
@media (max-width: 640px) {
  .kv-cat {
    width: 5.8%;
    right: 26%;
    top: 23.8%;
  }
}
.kv-arugame {
  width: 12%;
  left: 30.3%;
  top: 25.5%;
}
@media (max-width: 640px) {
  .kv-arugame {
    width: 23%;
    left: 12%;
    top: 24.5%;
  }
}

@keyframes witch-fly {
  0% {
    right: 28%;
    top: 5%;
  }
  70% {
    width: 13%;
    right: 40%;
    top: 43%;
  }
  90% {
    opacity: 1;
  }
  100% {
    width: 13%;
    right: 40%;
    top: 43%;
    opacity: 0;
  }
}
@keyframes ship-act {
  0% {
    width: 10%;
    right: 2%;
    top: 30%;
    opacity: 0;
  }
  100% {
    right: 5%;
    top: 32%;
    opacity: 1;
  }
}
@keyframes ship-act-m {
  0% {
    width: 20%;
    right: -2%;
    top: 60%;
    opacity: 0;
  }
  100% {
    right: -1.8%;
    top: 61.8%;
    opacity: 1;
  }
}
@keyframes airplane-act {
  0% {
    left: 30%;
    top: 7%;
  }
  50% {
    left: 30%;
    top: 5%;
  }
  100% {
    left: 30%;
    top: 7%;
  }
}
@keyframes airplane-act-m {
  0% {
    left: 36%;
    top: 9%;
  }
  50% {
    left: 36%;
    top: 7%;
  }
  100% {
    left: 36%;
    top: 9%;
  }
}
@keyframes train-act {
  0% {
    left: 18%;
    top: 44%;
    opacity: 0;
  }
  100% {
    left: 15%;
    top: 46%;
    opacity: 1;
  }
}
@keyframes train-act-m {
  0% {
    left: 18%;
    bottom: 45%;
    opacity: 0;
  }
  100% {
    left: 2.6%;
    bottom: 41.5%;
    opacity: 1;
  }
}
#bg-intro {
  background: url("../images/bg-intro.jpg") no-repeat center/cover;
}

.dividing-line {
  position: absolute;
  top: -25px;
}
@media (max-width: 960px) {
  .dividing-line {
    top: -15px;
  }
}
@media (max-width: 640px) {
  .dividing-line {
    top: -10px;
  }
}

.title, .title2 {
  max-width: 320px;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .title, .title2 {
    max-width: 250px;
  }
}

.title2 {
  max-width: 660px;
}

.bg-map {
  background: url("../images/bg-map.png") no-repeat right -30px;
}
@media (max-width: 640px) {
  .bg-map {
    background: transparent;
  }
}

.about span, .flight span {
  display: block;
}
@media (max-width: 480px) {
  .about span, .flight span {
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
}
.about span + span, .flight span + span {
  margin-top: 1.5rem;
}

.flight {
  padding-top: 100px;
}
@media (max-width: 480px) {
  .flight {
    padding-top: 50px;
  }
}

.img-flight {
  margin-top: -40px;
}
.img-flight img:nth-child(2) {
  display: none;
}
@media (max-width: 480px) {
  .img-flight img:nth-child(1) {
    display: none;
  }
  .img-flight img:nth-child(2) {
    display: block;
  }
}

#bg-content {
  background: url("../images/bg-content.jpg") repeat-y top/contain;
}

.bg-gift {
  background: url("../images/bg-gift.png") no-repeat center/cover;
  padding: 170px 0 120px 0;
}
@media (max-width: 960px) {
  .bg-gift {
    background: #deeeec;
    padding: 50px 10px 120px;
  }
}

.gift-text {
  font-size: 1.875rem;
  line-height: 2.5rem;
  margin-bottom: 40px;
}
@media (max-width: 960px) {
  .gift-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: justify;
  }
}
.gift-text span {
  display: block;
  font-size: 1.875rem;
  line-height: 2.5rem;
}
@media (max-width: 960px) {
  .gift-text span {
    display: inline;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: justify;
  }
}
.gift-content {
  position: relative;
}
.gift-activity {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #313131;
  text-align: justify;
}
.gift-activity a {
  display: inline;
}
@media (max-width: 480px) {
  .gift-activity {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
}
.gift-btn {
  text-align: center;
}
.gift-btn button {
  transition: 0.5s;
}
.gift-btn button:hover {
  transform: scale(0.95);
}
.gift-ship {
  position: absolute;
  max-width: 46%;
  right: -150px;
  bottom: -190px;
}
@media (max-width: 960px) {
  .gift-ship {
    max-width: 320px;
    right: 0;
    left: 0;
    bottom: -200px;
  }
}
@media (max-width: 480px) {
  .gift-ship {
    max-width: 250px;
    bottom: -150px;
  }
}

.coupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 50px auto 50px;
  max-width: 800px;
}
@media (max-width: 960px) {
  .coupon {
    display: block;
    text-align: center;
  }
}
@media (max-width: 960px) {
  .coupon-text {
    display: inline-block;
    margin-bottom: 30px;
  }
}
.coupon-text .remark {
  display: block;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: 10px;
}
@media (max-width: 480px) {
  .coupon-text .remark {
    text-align: left;
    text-indent: -1.2rem;
    padding-left: 1.2rem;
  }
}
.coupon-title {
  background: #16768e;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  line-height: 34px;
  margin-bottom: 15px;
}
.coupon-list {
  counter-reset: num;
}
.coupon-list span {
  display: flex;
  align-items: center;
  line-height: 1.6rem;
}
@media (max-width: 480px) {
  .coupon-list span {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
}
.coupon-list span::before {
  counter-increment: num;
  content: counter(num);
  background: #e34d41;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-family: Arial;
  line-height: 1.6rem;
  width: 1.6rem;
  margin-right: 10px;
}
.coupon-list span + span {
  margin-top: 15px;
}
.coupon img {
  max-width: 400px;
}

.each__block {
  margin-bottom: 70px;
  scroll-margin-top: 80px;
}

.attractions-content {
  display: flex;
}
@media (max-width: 960px) {
  .attractions-content {
    display: block;
  }
}
.attractions-content div + div {
  margin-left: 20px;
}
@media (max-width: 960px) {
  .attractions-content div + div {
    margin: 0 auto;
  }
}
.attractions-content button {
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  max-width: 460px;
  display: block;
  transition: 0.5s;
}
.attractions-content button:hover {
  transform: scale(0.95);
}
.attractions-pic {
  max-width: 600px;
}
@media (max-width: 960px) {
  .attractions-pic {
    width: 90%;
    margin-bottom: 10px;
  }
}
.attractions-text {
  max-width: 660px;
  width: 100%;
}
@media (max-width: 960px) {
  .attractions-text {
    margin-bottom: 20px;
  }
}
.attractions-text p {
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: justify;
  margin: 20px 0 30px;
  letter-spacing: 0.5px;
  padding: 0 1rem;
}
@media (max-width: 480px) {
  .attractions-text p {
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.6rem;
  }
}
.attractions-title {
  max-width: 660px;
}
.attractions-block {
  max-width: 600px;
}
.attractions-intro {
  display: inline-block;
  margin-left: 1rem;
  background: url("../images/bg-underline.png") repeat-x left bottom;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #16768e;
  padding-bottom: 12px;
}
@media (max-width: 480px) {
  .attractions-intro {
    margin-left: 0;
    font-size: 1.2rem;
    padding-bottom: 7px;
  }
}

.order-revers .attractions-pic {
  order: 2;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .order-revers .attractions-pic {
    margin: 0 auto 20px auto;
  }
}
.order-revers div + div {
  margin-left: 0;
}

#cards {
  position: relative;
  background: #5b5b5b;
  padding-bottom: 80px;
}
@media (max-width: 640px) {
  #cards {
    padding-bottom: 120px;
  }
}
@media (max-width: 480px) {
  #cards {
    padding-bottom: 140px;
  }
}

/*購買GOTOP按鈕*/
.buybtn {
  position: fixed;
  right: 1%;
  bottom: 1%;
  max-width: 120px;
  z-index: 9999;
}
@media (max-width: 640px) {
  .buybtn {
    max-width: 80px;
  }
}

.topbtn {
  position: fixed;
  right: 3.7%;
  bottom: 9%;
  max-width: 80px;
  z-index: 9999;
}
@media (max-width: 1024px) {
  .topbtn {
    right: 4%;
  }
}

.btn-notice {
  max-width: 250px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 1% 2%;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #d63a0b;
  cursor: pointer;
}
@media (max-width: 480px) {
  .btn-notice {
    margin-bottom: 30px;
  }
}
.btn-notice:hover {
  box-shadow: #d63a0b 6px 6px 1px;
  transform: translate(-5px, -5px);
}

#myModal_notice {
  z-index: 10000;
}
#myModal_notice .modal-dialog {
  max-width: 750px;
}
#myModal_notice .modal-header {
  justify-content: center;
}
#myModal_notice .modal-header .btn-close {
  position: absolute;
  right: 2%;
  top: 2%;
  margin: 0;
}
#myModal_notice .modal-title {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
}
#myModal_notice .modal-body {
  padding: 2rem;
}

.notice-title {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-align: center;
}
.notice-list {
  padding: 2% 5%;
}
.notice-list li {
  font-size: 1.125rem;
  line-height: 1.6rem;
  margin-bottom: 10px;
  list-style: disc;
  margin-left: 1.3rem;
  text-align: justify;
}
.notice-list li a {
  display: inline;
}

footer {
  background: #deeeec;
  padding: 30px;
  text-align: center;
}
footer span {
  font-size: 1.125rem;
  line-height: 1.6rem;
}
footer span + span {
  margin-left: 30px;
}

/*# sourceMappingURL=main.css.map */
